
.franqueados {
  padding: 3rem 0 0 0;
  /* background: ; */
}

.franqueadosContainer {
  padding: 8rem clamp(6rem, -4.667rem + 10.417vw, 12rem);
  margin: 12rem 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.title {
  font-size: 6rem;
  letter-spacing: 2px;
  text-align: center;
}

.text {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  max-width: 73.5rem;
  font-size: 2.4rem;
  gap: 2rem;
}

.franqueados span {
  font-family: var(--roadstore-font);
}
.franqueados .questionMark {
  font-family: Georgia, "Times New Roman", Times, serif;
}

@media (max-width: 1024px) {
  .franqueadosContainer {
    padding: 4rem 0rem;
  }
  .title {
    font-size: 3rem;
    max-width: 50rem;
    /* display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center; */
  }
  .franqueados span {
    font-size: 4rem;
  }

  .text {
    font-size: 2rem;
    padding: 2rem;
    border-radius: 0.4rem;
    background-color: var(--dark-grey);
  }
  .btnContainer {
    width: 80dvw;
    display: flex;
    justify-content: center;
  }
}
