.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-grey);
  border: 0.1rem solid var(--card);
}

.cardImgContainer {
  max-width: 30rem;
  max-height: 24rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/menu/carnes/BOUTIQUE/steak-background.jpg");
  background-position: bottom;
  position: relative;
}
.gradientFilter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    var(--dark-grey) 95%
  );
}
.cardContainer img {
  max-height: 50rem;
  filter: drop-shadow(1.5rem -0.8rem 0.7rem rgba(0, 0, 0, 0.5));
  z-index: 2;
}

.textContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 0.6rem;
}
.textContainer strong {
  font-family: var(--cormorant-font), serif;
  text-transform: uppercase;
  font-size: 2.2rem;
  letter-spacing: 0.16rem;
  color: var(--semi-white);
}
.textContainer{
  color: var(--semi-white-70);
}
.textContainer span {
  color: var(--pink-red-80);
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 400;
}
.marmoreio {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 400;
}
.marmoreio :nth-child(1) {
  margin-left: 1rem;
}
.marmoreioBlock {
  background-color: var(--pink-red);
  width: 1.2rem;
  height: 0.4rem;
  margin-left: 0.2rem;
  &:nth-child(5) {
    background-color: var(--light-grey);
  }
}
.shortDescription {
  font-size: 1.4rem;
  margin-top: -0.4rem;
  padding-bottom: 0.4rem;
  font-weight: 200;
  text-transform: capitalize;
}

.verDetalhes {
  margin-top: 1rem;
  border: 1px solid var(--pink-red);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.2rem;
  font-family: var(--barlow-font);
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 2px;
}
.verDetalhes p {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
}
