.bannerContainer {
  padding-top: 8.4rem;
}
.bannerBtq {
  background-image: url("../../assets/menu/banners/Boutique-large.jpg");
}
.bannerNov {
  background-image: url("../../assets/menu/banners/NovilhoJovem-large.jpg");
}
.bannerNob {
  background-image: url("../../assets/menu/banners/CampoNobre-large.jpg");
}
.bannerPmp {
  background-image: url("../../assets/menu/banners/angusBanner.jpg");
}
/* .bannerDia {
  background-image: url("../../assets/menu/banners/diaADiaBanner.jpg");
} */
.menuBanner {
  background-size: cover;
  background-position: center;
  height: 35rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.menuBannerGradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 0;
}
.menuTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.bannerLine {
  z-index: 3;
  background-color: var(--pink-red-50);
  height: 0.2rem;
  width: 100%;
  box-shadow: 0 0.3rem 1.2rem rgba(10, 10, 10, 0.3);
}

@media (max-width: 1024px) {
  .bannerBtq {
    background-image: url("../../assets/menu/banners/boutique-medium.jpg");
  }
}
@media (max-width: 768px) {
  .bannerBtq {
    background-image: url("../../assets/menu/banners/Boutique-small.jpg");
  }
}
@media (max-width: 520px) {
  .bannerBtq {
    background-image: url("../../assets/menu/banners/Boutique-smallest.jpg");
  }
}
