.about {
  padding: 9rem clamp(2rem, -28rem + 25vw, 12rem);
  display: flex;
}
.contentContainer {
  display: flex;
  align-items: center;

  gap: 8rem;
  height: 100%;
}
.imagesContainer {
  flex: 9;
  position: relative;
  height: max-content;
}
.aboutImage {
  width: 100%;
  height: 50rem;
  border-radius: 0.8rem;
  margin-left: 2rem;
  margin-top: 2rem;
  background: url("../../assets/home/sobre/loja-dom-santa-rosa.jpg") center /
    cover no-repeat;
}
.aboutImageBg {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 98%;
  height: 94%;
  border-radius: 0.8rem;
  border: 2px solid var(--pink-red);
  z-index: -1;
}
.textContainer {
  flex: 10;
}
.text {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  padding-top: 2rem;
  font-size: 1.8rem;
}
.titleContainer {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}
.aboutTitleMiniContainer {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}
.aboutTitle {
  max-width: 80rem;
  font-size: clamp(3.2rem, 3.54rem + 1.4286vw, 4.6rem);
  font-weight: 400;
}
.aboutSubTitle {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.32rem;
  color: var(--pink-red);
  filter: none !important;
  box-shadow: none !important;
}
.highlight {
  margin-top: -1.4rem;
  color: var(--pink-red);
  filter: drop-shadow(0 0 1.4rem rgba(229, 51, 68, 0.3));
  background: none;
  background-clip: none;
  -webkit-background-clip: none;
  -webkit-text-fill-color: none;
}

.statisticsContainer {
  padding-top: 2rem;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 1200px) {
  .about {
    padding: 6rem 4rem;
    align-items: center;
  }
  .contentContainer {
    flex-flow: column;
    justify-content: center;
    text-align: center;
    gap: 4rem;
    width: 100%;
  }
  .imagesContainer {
    width: 100%;
  }
  .aboutImage {
    margin: 0;
    width: 100%;
    height: 50rem;
  }
  .aboutImageBg {
    display: none;
  }
  .text {
    max-width: 100rem;
    text-align: justify;
  }
  .aboutTitleMiniContainer {
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .aboutTitle {
    max-width: none;
  }
}
