header {
  z-index: 999;
  position: fixed;
  background-color: var(--semi-black);
  color: var(--semi-white);
  width: 100dvw;
  flex: 1;
  padding: 1rem clamp(6rem, -4.667rem + 10.417vw, 12rem);
  display: flex;
  align-items: center;
  box-shadow: 0 0.2rem 3rem black;
}

.logo {
  width: 9.9rem;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 5.5rem;
}
.instagramIcon {
  transition: transform 0.3s ease;
  cursor: pointer;
}
.instagramIcon:hover {
  transform: scale(0.9);
}

Link,
.lineLink {
  font-variant: small-caps;
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
  user-select: none;
}
.arrow {
  transition: transform 0.3s ease;
}
.navProdutosContainer:hover .arrow {
  transform: rotate(180deg);
}
.upArrow {
  transition: transform 0.3s ease;
}

.lineLink:hover {
  transform: translateY(-3px);
}
.upArrow {
  transform: rotate(180deg);
}

.lineLink::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--pink-red);
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.3s ease;
}

.lineLink:hover::before {
  transform: scaleY(1);
}

.leftNav,
.rightNav {
  font-family: var(--barlow-font);
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 2rem;
  /* text-transform: uppercase; */
  font-weight: 600;
  letter-spacing: 3.2px;
}
.navProdutosContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}
.navProdutosContainer img {
  max-height: 0.8rem;
}

.produtosListWrapper {
  display: flex;
  flex-flow: column;
  position: absolute;
  left: -0.2rem;
  top: 2rem;
  width: max-content;
  height: max-content;
}
.blankSpace {
  height: 1rem;
}
.produtosList {
  margin-left: -0.6rem;
  padding: 1rem 1rem 1.2rem 1rem;
  border-radius: 0.3rem;
  background-color: var(--dark-grey);
  box-shadow:
    inset 1px 1px 2px var(--dark-pink-grey),
    inset -1px -1px 1px var(--dark-pink-grey),
    0 0 2rem rgba(0, 0, 0, 0.5);
  display: flex;
  flex-flow: column;
  gap: 1rem;
}
.produtosListItem {
  text-transform: uppercase;
  font-size: 1.2rem;
  padding-bottom: 0.6rem;
  border-bottom: 2px solid var(--dark-pink-grey);
  transition: color 0.1s ease;
}
.produtosListItem:hover {
  color: var(--pink-red);
}

.mobileOptions {
  display: none;
}

/* --- MEDIA QUERIES --- */

@media (max-width: 1300px) {
  header {
    padding: 1rem 6rem;
  }
}

@media (max-width: 1120px) {
  header {
    padding: 1rem 2rem;
  }
}
@media (max-width: 1024px) {
  .navbarContainer {
    position: relative;
  }
  header {
    padding: 2.4rem 4rem;
    justify-content: center;
  }

  header .navbar {
    display: none;
  }
  header .logoContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .mobileOptions {
    display: block;
  }
  .mobileOptions img {
    cursor: pointer;
  }
  .mobileOptionsList {
    position: absolute;
    top: 10.5rem;
    right: 0;
    left: 0;
    height: 100dvh;
    z-index: 1;

    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem;
    padding: 2.4rem 4rem;
    background-color: var(--dark-grey);
  }
  .mobileLink {
    font-size: 2.4rem;
    font-family: var(--barlow-font);
    font-weight: 500;
    text-transform: uppercase;
    width: 100%;
    padding: 2rem;
    border-radius: 0.4rem;
    background-color: var(--semi-black);
  }
  .mobileLink:hover {
    background-color: var(--pink-red);
  }
}
/* @media (max-width: 480px) {
} */
