.lineFilter {
  width: 100%;
}
.lineFilter h2 {
  font-family: var(--cormorant-font);
  color: var(--light-grey);
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 1.4rem;
}
.lineFilter img {
  height: 20rem;
  width: max-content;
}

.selectorOptions {
  display: flex;
  width: 100%;
  justify-content: space-around;
  gap: 2rem;
  font-size: 1.8rem;
}
.menuSelected {
  border: 2px solid var(--pink-red-80) !important ;
  box-shadow: 0 0 5rem var(--pink-red-30) !important ;
}
.selectorLink {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--light-grey);
  background-color: #fff;
  border-radius: 0.4rem;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
}
.selectorLink:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5rem var(--pink-red-30);
}
.selectorLink:nth-child(2) {
  background-color: #241e1e;
}
.selectorLink:nth-child(3) {
  background-color: #1c53a6;
}
.selectorLink:nth-child(4) {
  background-color: #30a749;
}
.selectorLink:nth-child(5) {
  background-color: #fffbf8;
}

.selectorLink:hover {
  color: var(--pink-red);
}

@media (max-width: 1540px) {
  .selectorOptions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1024px) {
  .selectorOptions {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
@media (max-width: 768px) {
  .selectorOptions {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 512px) {
  .lineFilter img {
    height: 12rem;
    width: max-content;
  }
}
