.lineFilter h2 {
  font-family: var(--barlow-font);
  color: var(--semi-white-70);
  font-weight: 500;
  font-size: 2rem;
}

.menuSelectors {
  background-color: var(--dark-pink-grey);
  display: flex;
  flex-direction: column;
  padding: 3rem 4rem;
  gap: 2rem;
  border-radius: 0.6rem;
  width: 100%;
}
.menuFiltros {
  margin-top: 1rem;
}
.menuLinhas,
.menuFiltros {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.selectorTitle {
  padding: 0.4rem;
  background-image: linear-gradient(
    to right,
    transparent,
    #2c2125,
    transparent
  );
}
.selectorTitle:first-child {
  line-height: 0.75;
  font-size: 2.8rem;
  font-family: var(--roadstore-font);
  text-align: center;
  letter-spacing: 0.32rem;
}
.selectorOptions {
  display: flex;
  width: 100%;
  justify-content: space-around;
  gap: 1.6rem;
  font-size: 1.8rem;
}
.menuSelected {
  /* color: var(--pink-red); */
  /* padding-left: 0.8rem; */
}
.selectorLink {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--light-grey);
  /* background-color: var(--light-grey-50); */
  background-color: #fff;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: color 0.13s ease;
  font-weight: 500;
  text-transform: uppercase;
  overflow: hidden;
}

.selectorLink:hover {
  color: var(--pink-red);
}

.selectorInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-right: -20rem;
  text-align: start;
  transition: all 0.3s ease;
  color: var(--dark-pink-grey);
}
.selectorLink:hover .selectorInfo {
  margin: 0;
}
@media (max-width: 768px) {
  .menuSelectors {
    width: 90dvw;
    padding: 3rem clamp(2rem, 0.571rem + 4.464vw, 4rem);
  }
}
