.menuDisplay {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4rem;
  padding: 3rem clamp(2rem, -1.556rem + 3.472vw, 4rem);
  background-color: var(--dark-pink-grey);
}

.displaySteakContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 40rem;
  overflow: hidden;
}
.displaySteakContent img {
  filter: drop-shadow(0 0.6rem 1rem rgba(0, 0, 0, 0.5));
  max-width: 40rem;
}

.displayContent{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.marmoreio {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 400;
}
.marmoreio :nth-child(1) {
  margin-left: 1rem;
}
.marmoreioBlock {
  background-color: var(--pink-red);
  width: 1.2rem;
  height: 0.4rem;
  margin-left: 0.2rem;
  &:nth-child(5) {
    background-color: var(--light-grey);
  }
}

@media (max-width: 1024px){
  .menuDisplay {
    flex-direction: row;
  }
}

@media ( max-width:768px){
  .menuDisplay {
    flex-direction: column;
  }
}