.menuMainContent {
  display: flex;
  align-items: start;
  gap: 2rem;
  padding: 4rem clamp(3rem, -13rem + 15.625vw, 12rem);
  flex-flow: column;
}

@media (max-width: 1024px) {
  .menuMainContent {
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
}
