.menuMainContent {
  display: flex;
  align-items: start;
  gap: 4rem;
  padding: 4rem clamp(0.8rem, -0.8rem + 5vw, 12rem);
  flex-flow: column;
}

@media (max-width: 1024px) {
  .menuMainContent {
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
}
